## Key

- **Tested or Pending** - I can personally attest to the experience with these states.

- **Accessible** - The process for these states appears transparent and accessible, but I have not personally completed the steps to access.

- **Leg Work** - These states appear to require either an open records type of request or you need to contact an election office.

- **Barriers** - These states appear to have legislative restrictions in regards to who may access voter data.

- **Relatively Expensive** - These states appear to be relatively expensive when compared to their peers.

### Cost Categories
```
$   = $1-199 USD
$$  = $200-999 USD
$$$ = $1000+ USD
?   = Unverified
```

